$square-size: 100px;

:host {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

mat-card {
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
}

.game-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

.current-player {
    margin: 8px 0;
    font-size: 18px;
}

.new-game-btn {
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: $square-size $square-size $square-size;
    grid-gap: 5px;
    margin-top: 4px;
}

h2 {
    min-height: 2rem;
    margin: 8px 0;
}

app-square {
    height: $square-size;
    border: 1px solid black;
}